.form {
  border: 1px solid #3c3c3c;
  border-radius: 10px;
  background-color: #e4ecc2;
  padding: 8px;
  width: 504px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}
.label {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input {
  min-width: 286px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid #3c3c3c;
  border-radius: 10px;
  font-size: 18px;
  background-color: #c8d5c2;
  transition: background-color linear 250ms;
}
.input::placeholder {
  font-size: 14px;
}
.input:hover {
  background-color: #fff;
}
.input:focus {
  border-color: blue;
}
.form-btn {
  max-width: 150px;
  padding: 8px 16px;
  margin: 0 auto;
  font-size: 16px;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 10px;
  background-color: #fff;
  transition: background-color linear 250ms, color linear 250ms;
}
.form-btn:hover {
  background-color: rgb(60, 60, 60);
  color: #fff;
  cursor: pointer;
}
.errorText {
  color: red;
  font-size: 14px;
  font-weight: 300;
  background-color: #f7bfd0;
  text-align: center;
}
